# Dependencies
node_modules/

# Build outputs
dist/
target/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db

# Build
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
